* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #121212;
  color: white;
}

.app {
  display: flex;
  height: calc(100vh - 90px);
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #000;
  padding: 15px;
}

.sidebar h1 {
  font-size: 18px;
  margin-bottom: 15px;
}

.upload-btn {
  background: #1db954;
  border: none;
  padding: 10px;
  width: 100%;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;
}

.upload-btn input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.menu button {
  width: 100%;
  margin-top: 5px;
  background: #181818;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

#songList {
  list-style: none;
  padding: 0;
}

#songList li {
  padding: 10px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

#songList li:hover {
  background: #1db954;
  color: black;
}

/* PLAYER */
.player {
  height: 90px;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.controls button,
.extra button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
